<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @todo.time %>
</p>

<p>
  <strong>Text:</strong>
  <%= @todo.text %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
